###################################################
## @section BigBang Integration
## Big Bang params for domain, istio, network, monitoring, sso.
###################################################
domain: dev.bigbang.mil

istio:
  # Toggle istio integration
  enabled: false
  hardened:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
      # - name: "allow-google"
      #   enabled: true
      #   spec:
      #     exportTo:
      #       - "."
      #     hosts:
      #       - google.com
      #     location: MESH_EXTERNAL
      #     ports:
      #       - number: 443
      #         protocol: TLS
      #         name: https
      #     resolution: DNS
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
  injection: "disabled"
  ui:
    # Toggle vs creation
    enabled: true
    annotations: {}
    labels: {}
    gateways:
      - istio-system/main
    hosts:
      - "anchore.{{ .Values.domain }}"
  api:
    # Toggle vs creation
    enabled: true
    annotations: {}
    labels: {}
    gateways:
      - istio-system/main
    hosts:
      - "anchore-api.{{ .Values.domain }}"
    service:
      apiVersion: v2

  # -- Default peer authentication
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

networkPolicies:
  enabled: false
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
  additionalPolicies: []
  # This is a dev example policy spec and CIDR 0.0.0.0/0 is unsafe for operational environments
  # requests to controlPlane should also be blocked in an operational policy
  # - name: sample-anchore-policy
  #   spec:
  #     podSelector: {}
  #     policyTypes:
  #     - Egress
  #     egress:
  #     - to:
  #       - ipBlock:
  #           cidr: 0.0.0.0/0
  #           except:
  #           # Block requests to AWS cloud metadata IP
  #           - 169.254.169.254/32


# Enable/disable Keycloak SSO integration
# If enabled, also enable OAuth - global.oauthEnabled
sso:
  enabled: false
  name: "keycloak"
  acsHttpsPort: -1
  spEntityId: "platform1_a8604cc9-f5e9-4656-802d-d05624370245_bb8-anchore"
  acsUrl: "https://anchore.bigbang.dev/service/sso/auth/keycloak"
  defaultAccount: "user"
  defaultRole: "read-write" # If roleAttribute is passed, defaultRole will be ignored
  roleAttribute: "" # Optional, defines the Keycloak attribute to use to map roles/permissions
  requireSignedAssertions: false
  requireSignedResponse: true
  idpMetadataUrl: "https://login.dso.mil/auth/realms/baby-yoda/protocol/saml/descriptor"
  host: "login.dso.mil"
  realm: "baby-yoda"

  # Configure resource requests and limits in the ./chart/templates/bigbang/sso/configure-sso.yaml job
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 256Mi

  containerSecurityContext:
    runAsUser: 1001
    runAsGroup: 1001
    capabilities:
      drop:
        - ALL

# Enable Prometheus Monitoring
monitoring:
  enabled: false
  namespace: monitoring
  serviceMonitor:
    scheme: ""
    tlsConfig: {}

###################################################
## @section Big Bang Tests Values
## Big Bang params for bbtests
###################################################
bbtests:
  enabled: false
  scripts:
    image: registry1.dso.mil/ironbank/anchore/cli/cli:0.9.4
    envs:
      ANCHORE_CLI_URL: "http://{{ include \"enterprise.api.fullname\" . }}:{{ .Values.api.service.port }}/v2"
      ANCHORE_CLI_USER: admin
      ANCHORE_SCAN_IMAGE: quay.io/prometheus/node-exporter:latest
    secretEnvs:
      - name: ANCHORE_CLI_PASS
        valueFrom:
          secretKeyRef:
            name: "{{ include \"enterprise.fullname\" . }}"
            key: ANCHORE_ADMIN_PASSWORD
  cypress:
    resources:
      requests:
        cpu: "2"
        memory: "4Gi"
      limits:
        cpu: "2"
        memory: "4Gi"
    artifacts: true
    envs:
      cypress_url: "http://{{ include \"enterprise.ui.fullname\" . }}:{{ .Values.ui.service.port }}"
      cypress_user: admin
      cypress_registry: docker.io
      cypress_repository: anchore/grype
      cypress_tag: latest
    secretEnvs:
      - name: cypress_password
        valueFrom:
          secretKeyRef:
            name: "{{ include \"enterprise.fullname\" . }}"
            key: ANCHORE_ADMIN_PASSWORD

###################################################
## @section Global Resource Parameters
## Global params used by all child charts
###################################################
global:
  fullnameOverride: ""
  nameOverride: "anchore-enterprise"

###################################################
## @section Common Resource Parameters
## Common params used by all Anchore k8s resources
###################################################

# -- Values to pass to [the upstream Anchore Enterprise chart](https://github.com/anchore/anchore-charts/blob/main/stable/enterprise/values.yaml)
# @default -- Upstream chart values
upstream:

  #BB Change to disable upstream dependencies and use BB dependencies instead.
  postgresql:
    chartEnabled: false
  ui-redis:
    chartEnabled: false

  image: registry1.dso.mil/ironbank/anchore/enterprise/enterprise:5.20.2
  imagePullSecretName: private-registry
  kubectlImage: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.30.8
  migrationPodImage: registry1.dso.mil/ironbank/opensource/postgres/postgresql:16.2
  containerSecurityContext:
    capabilities:
      drop:
        - ALL
 
  useExistingLicenseSecret: false
  # Enterprise license: Insert license yaml object below:
  license: {} 

  policyEngine:
    resources:
      limits:
        cpu: 1
        memory: 4G
      requests:
        cpu: 1
        memory: 4G

  ###########################################
  ## @section Anchore Simple Queue Parameters
  ###########################################
  simpleQueue:
    resources:
      limits:
        cpu: 1
        memory: 1G
      requests:
        cpu: 1
        memory: 1G

  ############################################
  ## @section Anchore Notifications Parameters
  ############################################
  notifications:
    resources:
      limits:
        cpu: 1
        memory: 1G
      requests:
        cpu: 1
        memory: 1G

  ######################################################
  ## @section Anchore Analyzer k8s Deployment Parameters
  ######################################################
  analyzer:
    replicaCount: 2
    serviceType: ClusterIP
    resources:
      limits:
        cpu: 1
        memory: 4G
      requests:
        cpu: 1
        memory: 4G

  #####################################################################
  ## @section Anchore Configuration Parameters
  ## Params used for all Anchore Enterprise service configuration files
  #####################################################################

  # Input exclusions in the arrays below:
  anchoreConfig:
    policy_engine:
      vulnerabilities:
        matching:
          exclude:
            providers: []
            package_types: []

  #################################################
  ## @section Anchore API k8s Deployment Parameters
  #################################################
  api:
    resources:
      limits:
        cpu: 1
        memory: 4G
      requests:
        cpu: 1
        memory: 4G

  #####################################################
  ## @section Anchore Catalog k8s Deployment Parameters
  #####################################################
  catalog:
    resources:
      limits:
        cpu: 1
        memory: 3G
      requests:
        cpu: 1
        memory: 3G

  #############################################
  ## @section Anchore Reports Worker Parameters
  #############################################
  reportsWorker:
    resources:
      limits:
        cpu: 1
        memory: 1G
      requests:
        cpu: 1
        memory: 1G

  ########################################
  ## @section Anchore Reports Parameters
  ########################################
  reports:
    enabled: true

  #################################
  ## @section Anchore UI Parameters
  #################################
  ui:
    enabled: true
    image: registry1.dso.mil/ironbank/anchore/enterpriseui/enterpriseui:5.20.0
    imagePullSecretName: private-registry
    service:
      port: 3000
    resources:
      limits:
        cpu: 1
        memory: 1G
      requests:
        cpu: 1
        memory: 1G
  ############################################
  ## @section Anchore Upgrade Job Parameters
  ## Upgrade job uses a Helm post-install-hook
  ############################################
  upgradeJob:
    enabled: true
    resources:
      limits:
        cpu: 1
        memory: 1G
      requests:
        cpu: 1
        memory: 1G

#######################################
## @section Anchore UI Redis Parameters
#######################################
# ui-redis is BB version of redis, upstream redis is disabled. 
ui-redis:
  enabled: true
  istio:
    enabled: "{{ .Values.istio.enabled }}"  
  
  ## @param ui-redis.externalEndpoint External Redis endpoint when not using Helm managed chart (eg redis://:<password>@hostname:6379)
  externalEndpoint: ""

  upstream:
    nameOverride: "ui-redis"
    fullnameOverride: "anchore-enterprise-ui-redis"
    auth:
      password: anchore-redis,123
    architecture: standalone
    master:
      persistence:
        enabled: false

    ## ** Big Bang Addition **
    ## @param ui-redis.commonConfiguration Configure common redis parameters
    commonConfiguration: |-
      maxmemory 200mb
      save ""
  cleanUpgrade:
    enabled: false
    redisLabel: "app.kubernetes.io/name: ui-redis"


#######################################
## @section Anchore Database Parameters
#######################################
postgresql:
  enabled: true
  externalDBCheckEnabled: false
  primary:
    podSecurityContext:
      enabled: true
      fsGroup: 1001
      runAsUser: 1001
      runAsGroup: 1001
    containerSecurityContext:
      enabled: true
      runAsUser: 1001
      runAsGroup: 1001
      capabilities:
        drop:
          - ALL
    persistence:
      resourcePolicy: keep
      subPath: "data/pgdata"
      mountPath: /var/lib/postgresql
    postgresqlDataDir: /var/lib/postgresql/data
    service:
      ports:
        postgresql: 5432
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/postgres/postgresql
    tag: "16.2"
  global:
    imagePullSecrets:
      - private-registry
  postgresqlConfiguration: {"listen_addresses": "*"}
  pgHbaConfiguration: |-
    local all all scram-sha-256
    host all all all scram-sha-256
  # PG creds
  postgresUser: anchore
  postgresPassword: anchore-postgres,123
  postgresDatabase: anchore
  # Configure resource limits and requests for the postgresql deployment
  resources:
    limits:
      cpu: 1000m
      memory: 4096Mi
    requests:
      cpu: 1000m
      memory: 4096Mi
  # Configure resource limits and requests for postgresql metrics (disabled by default)
  metrics:
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 200m
        memory: 256Mi

  securityContext:
    enabled: true
    fsGroup: 1001
    runAsUser: 1001
    runAsGroup: 1001

  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsGroup: 1001
    capabilities:
      drop:
        - ALL


#######################################
## @section BB Database parameters for templates in ./chart/templates/bigbang/db/
#######################################

# Use Database instance Superuser to create postgresql.postgresDatabase, postgresql.postgresUser, anchore-feeds-db.postgresDatabase, and anchore-feeds-db.postgresUser
postgresqlSuperUser:
  postgresUsername: ""
  postgresPassword: ""
  # Optionally use an existing secret for the superuser credentials with the following defined:
  # PGUSER
  # PGPASSWORD
  # PGDATABASE
  # PGHOST
  # PGPORT
  # ANCHORE_DB
  existingSecret: Null

# Configure resource requests and limits in ./chart/templates/bigbang/db/ensure-anchore-db.yaml and ./chart/templates/bigbang/db/ensure-feeds-db.yaml
ensureDbJobs:
  resources:
    limits:
      cpu: 2
      memory: 2G
    requests:
      cpu: 2
      memory: 2G
