{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-monitoring
  namespace: {{ .Release.Namespace }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: monitoring
      podSelector:
        matchLabels:
          app: prometheus
    ports:
    - port: {{ .Values.upstream.api.service.port }} # anchore engine api (default: 8228)
      protocol: TCP
    - port: {{ .Values.upstream.catalog.service.port }} # anchore catalog api (default: 8082)
      protocol: TCP
    - port: {{ .Values.upstream.policyEngine.service.port }} # anchore policy engine api (default: 8087)
      protocol: TCP
    - port: {{ .Values.upstream.simpleQueue.service.port }} # anchore simplequeue api (default: 8083)
      protocol: TCP
    - port: {{ .Values.upstream.analyzer.service.port }} # anchore analyzer (default: 8084)
      protocol: TCP
    - port: {{ .Values.upstream.reports.service.port }} # anchore enterprise reports (default: 8778)
      protocol: TCP
    - port: {{ .Values.upstream.notifications.service.port }} # anchore enterprise notifications (default: 8668)
      protocol: TCP
{{- end }}
