{{/* if external db is enabled, allow egress from ensure db job, engine upgrade job, and enterprise engine upgrade job*/}}
{{- if .Values.networkPolicies.enabled }}
{{- if (hasKey .Values.postgresql "enabled") }}
{{- if (not .Values.postgresql.enabled) }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-ensure-db-job
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      job-name: ensure-anchore-db
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        # ONLY Block requests to AWS metadata IP
        except:
        - 169.254.169.254/32
{{- if .Values.upstream.upgradeJob.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-ingress-enterprise-upgrade-job
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/component: upgradejob
  policyTypes:
  - Egress
  - Ingress
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        # ONLY Block requests to AWS metadata IP
        except:
        - 169.254.169.254/32
  ingress:
  - from:
    - ipBlock:
        cidr: 0.0.0.0/0
        except:
        - 169.254.169.254/32

{{- end }}
{{- end }}
{{- end }}

{{/* if sso is enabled, allow egress from configure sso job */}}
{{- if .Values.sso.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-sso-job
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      job-name: configure-sso
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        # ONLY Block requests to AWS metadata IP
        except:
        - 169.254.169.254/32
{{- end }}
{{- end }}


