{{- $component := "analyzer" -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "enterprise.analyzer.fullname" . }}
  labels: {{- include "enterprise.common.labels" (merge (dict "component" $component) .) | nindent 4 }}
  annotations: {{- include "enterprise.common.annotations" (merge (dict "component" $component "nil" true) .) | nindent 8 }}
spec:
  type: {{ .Values.upstream.analyzer.serviceType }}
  ports:
    - name: analyzer-api
      port: {{ .Values.upstream.analyzer.service.port }}
      targetPort: {{ .Values.upstream.analyzer.service.port }}
      protocol: TCP
      {{ if .Values.upstream.anchoreConfig.internalServicesSSL.enabled }}
      appProtocol: "https"
      {{ else }}
      appProtocol: "http"
      {{ end }}
  selector:
    app.kubernetes.io/name: {{ template "enterprise.fullname" . }}
    app.kubernetes.io/component: {{ $component }}