{{ if .Values.monitoring.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    prometheus: k8s
  name: anchore-service-monitor
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ template "enterprise.fullname" . }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: anchore-external-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-external-api

    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: anchore-catalog-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-catalog-api

    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: anchore-policy-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-policy-api

    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: anchore-simplequeue-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-simplequeue-api

    {{- if .Values.upstream.feeds.enabled }}
    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: feeds-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-feeds-api
    {{- end }}

    {{- if .Values.upstream.reports.enabled }}
    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: reports
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-enterprise-reports
    {{- end }}

    {{- if .Values.upstream.notifications.enabled }}
    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: notify
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-metrics-enterprise-notifications
    {{- end }}

    ## Big Bang replaced PodMonitor with this ServiceMonitor endpoint
    - interval: 30s
      path: /metrics
      params:
        format:
          - prometheus
      port: analyzer-api
      {{- if .Values.monitoring.serviceMonitor.scheme }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitoring.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .Values.monitoring.serviceMonitor.tlsConfig | nindent 8 }}
      {{- end }}
      #jobLabel: anchore-anchor-analyzer-metrics-mtls
{{- end }}
